RewriteEngine on
RewriteBase /
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ xics_live_git/index.php?/$1 [L,QSA]
AddDefaultCharset utf-8

<IfModule mod_env.c>
	SetEnv CI_ENV development
	SetEnv BASE_URL http://localhost/xics_live_git/
</IfModule>
