.table-bordered th,.table-bordered td{
	border-top: 0px solid #000;
	border-right: 0px solid #000;	
	border-bottom: 0px solid #000;	
	border-left: 0px solid #000;	
}
.table-bordered th.none_border, .table-bordered td.none_border{
	border-top: none;
	border-right: none;	
	border-bottom: none;	
	border-left: none;	
}
.table-bordered th.topbottomborder, .table-bordered td.topbottomborder{
	border-top: 0px solid #000;
	border-bottom: 0px solid #000;	
}
.table-bordered th.topborder, .table-bordered td.topborder{
	border-top: 0px solid #000;	
}
.table-bordered th.rightborder, .table-bordered td.rightborder{
	border-right: 0px solid #000;	
}
.table-bordered th.bottomborder, .table-bordered td.bottomborder{
	border-bottom: 1px solid #000;	
}
.table-bordered th.leftborder, .table-bordered td.leftborder{
	border-left: 0px solid #000;	
}
.imgborder{
	border:2px solid #000;
}